
.sheet {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    background: #FFF;
    text-align: center;
    font-size: 11pt;
}

.sheet header {
    
    text-align: center;
    background-color: #fff;
    font: bold 16pt Helvetica, Sans-Serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding:32px 0px 16px 0px;
}

.strong, .strong td {
    font-size: 110%;
}

.sheet table {
    border-collapse: collapse;
    margin-bottom: 20px;
}

.sheet td, .sheet th {
    text-align: left;
}

.sheet th {
    background: #eee;
}

.sheet table.itinerary {
    width: 100%;
}

.sheet table.itinerary td, .sheet table.itinerary th {
    border: 1px solid black;
    text-align: center;
}


/* print */
@media print
{
    body {
        background: #fff;
        color: #000;
    }

    .sheet {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }

    @page {
        margin: 0mm 15mm 0mm 15mm;
    } 
}
